name: siddhartha pipeline

on:
  push:
    branchs:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - name: step 1
       run: echo "Hello, this is my first pipeline"

     - name: step 2 - Show current directory
       run: pwd

      - name: step 3 - List all files and folders
        run: la -la
