name: siddhartha-pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Step 1 - Show current directory
        run: pwd

      - name: Step 2 - List all files and folders
        run: ls -la
